<div class="contact-card
    {{~#if customClasses}}
        {{~#each customClasses}} {{this}}{{/each~}}
    {{/if~}}
    "
    {{~#if customAttributes}}
        {{~#each customAttributes}}
            {{{this.attribute}}}{{#if this.value}}="{{{this.value}}}"{{/if}}
        {{/each~}}
    {{/if~}}
>
    <h3 class="contact-card__heading">{{name}}, {{title}}</h3>
    {{render '@table-list' tableListContext~}}
</div>
