<label class="label{{#if modifier}} label--{{modifier}}{{/if}}
    {{~#if additionalModifiers}}
        {{~#each additionalModifiers}} label--{{this}}{{/each~}}
    {{/if~}}
    {{~#if customClasses}}
        {{~#each customClasses}} {{this}}{{/each~}}
    {{/if~}}
    "
    {{~#if for}}for="{{for}}"{{/if~}}
    {{~#if customAttributes}}
        {{~#each customAttributes}}
            {{{this.attribute}}}{{#if this.value}}="{{{this.value}}}"{{/if}}
        {{/each~}}
    {{/if~}}
>
    {{#if (content 'slot-label-content')}}
        {{#block 'slot-label-content'}}
        {{/block}}
    {{/if}}
    {{~#> @partial-block}}
        {{{text}}} {{#if isRequired}}<abbr class="label__abbreviation" title="{{requiredText}}">*</abbr>{{/if}}
    {{/@partial-block}}
</label>
