<div class="slide{{#if modifier}} slide--{{modifier}}{{/if}}
    {{~#if customClasses}}
        {{~#each customClasses}} {{this}}{{/each~}}
    {{/if~}}
    "
    {{~#if customAttributes}}
        {{~#each customAttributes}}
            {{{this.attribute}}}{{#if this.value}}="{{{this.value}}}"{{/if}}
        {{/each~}}
    {{/if~}}
>
    <img src="{{heroContext.backgroundImage}}" class="slide__loading-image">
    {{render '@spinner--is-own-element' spinnerContext}}
    {{render '@hero' heroContext merge=true~}}
</div>
